.header{
    text-align: center;
    color: azure;
    font-family: 'Cinzel', serif;
    
    
}

@media only screen and (max-width: 600px) {
    .home-page-menu{
        align-content: center;
    }
}
@media only screen and (min-width: 600px) {
    .home-page-menu{
        position: relative;
        left: -200px;
    }
}
.abes-logo{
    float: right;
    
}
 body{
    padding: 0px;
    margin: 0px;
    
}

body { 
    background: url("../images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.circle{
    background-color: brown;
    height: 180px;
    width: 180px;
    border: 2px ssolid black;
    border-radius: 50%;
    margin: 50px;
    
}
.right{
    float: right;
}
.left{
    float: left;
}
.clear{
    clear: both;
}
.hm-link{
    position: relative;
    top: 45px;
    text-align: center;
    
}
.hm-link a:any-link{
    color: azure;
    font-weight: bold;
    font-size: 110%;
}
 .dashboard-menu a:any-link{
    color: azure;
    font-weight: bold;
    font-size: 110%;
    
    text-align: center;
    
}
.stu-dash-menu a:any-link{
    padding: 25px 10px 25px 10px !important;
}
.fac-dash-menu a:any-link{
    padding: 8px 20px 8px 20px !important;
}
.hod-dash-menu a:any-link{
    padding: 10px 10px 10px 10px !important;
}
#hml-single{
    position: relative !important;
    top: 65px !important;
}
hr.rule{
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid gray;
    border-radius: 90%;
}
#hod{
    position: relative;
    top: -41px;
    left: -10px;
    z-index: 2;
}
#student{
    position: relative;
    top: -146px;
    left: -37px;
    z-index: 2;
}
#faculty{
    position: relative;
    top: -146px;
    left: -37px;
    z-index: 2;
}
#team{
    position: relative;
    top: -111px;
    left: -38px;
    z-index: 2;
}
.white-font{
    color: white;
    font-weight: bold;
}
.margin-top{
    margin-top: 30px;
}

.error{
    color: red;
    font-size: 80%;
    
}
#password-reset-form{
    z-index: 999;
    margin: 100px,auto,50px,auto;
    width: 450px;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
    display: none;
    padding: 20px;
    position: absolute;
    top: 0px;
    
    background-color: rgb(110, 110, 110);
}

.team-image{
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
    
}
.nav-bg{
    background-color: rgb(9, 23, 39);
    
}
.dashboard-background{
    background: url("../images/background-pattern.jpg") no-repeat center center fixed !important; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.dashboard{
    background-color: rgb(9, 23, 39);
    border-radius: 20px;
    margin: 20px 20px 20px 0px;
    height: 100%;
    display: none;
    
}

.dashboard-menu-hover{
    background-color: rgb(9, 23, 39);
}
#student-profile{
    display: block ;
}
.alert-danger{
    width: 400px !important;
}
h4{
    margin:40px 40px 30px 60px !important;
}
table , th , td{
    border:2px solid black !important;
    padding: 5px 20px 5 px 20px !important;
    margin: 5px 20px 5 px 20px !important;
}
table{
    width:70% !important;
    text-align: center;
}

